doctype html
html
  head
    meta(charset="utf-8")
    title Template
    meta(name="viewport" content="initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    <!-- <meta name="viewport" content="width=1200"> -->
    <!-- <meta name="viewport" content="initial-scale=1, user-scalable=no"> -->
    link(rel="stylesheet" media="all" href="css/screen.css")
    <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
  body
    .out
      h1 Title
      .icon
      .icon-left
      .icon-right
      h1
        | And One More Title
        a(href="#") LINK
      h2
        | And New Title
    script(src="js/lib/head.js" data-headjs-load="js/init.js")

    img(src="http://placehold.it/800x600")
